<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.RestaurantMani">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqaxaWIJhfgI8gZkeJC6KX8ZUkR7bsXWA"/>


        <activity android:name="com.example.RestaurantMani.LocationActivity"></activity>
        <activity android:name="com.example.RestaurantMani.QandA_Rate_Activity" />
        <activity android:name="com.example.RestaurantMani.PizzaActivity" />
        <activity android:name="com.example.RestaurantMani.SaladsActivity" />
        <activity android:name="com.example.RestaurantMani.SoupActivity" />
        <activity android:name="com.example.RestaurantMani.AppetizerActivity" />
        <activity android:name="com.example.RestaurantMani.FoodActivity" />
        <activity android:name="com.example.RestaurantMani.Sign_In_Activity" />
        <activity android:name="com.example.RestaurantMani.Sign_Up_Activity" />
        <activity android:name="com.example.RestaurantMani.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>