<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.RestaurantMani">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".StaffActivity"
            android:label="@string/title_activity_staff"
            android:theme="@style/Theme.MyApplication.NoActionBar"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqaxaWIJhfgI8gZkeJC6KX8ZUkR7bsXWA" />

        <activity android:name=".LocationActivity" />
        <activity android:name=".QandA_Rate_Activity" />
        <activity android:name=".PizzaActivity" />
        <activity android:name=".SaladsActivity" />
        <activity android:name=".SoupActivity" />
        <activity android:name=".AppetizerActivity" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".Sign_In_Activity" />
        <activity android:name=".Sign_Up_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>